extends layout

block content
  h1 #{title}: #{gratuito.fascicolo}

  h3 #[strong Cliente:]
    a(href=gratuito.cliente.url)  #{gratuito.cliente.nome_completo}
  p #[strong Materia:]
    a(href=gratuito.materia.url)  #{gratuito.materia.nome}
  p #[strong Giudice:]
    a(href=gratuito.giudice.url)  #{gratuito.giudice.nome}
  p #[strong Sede:]
    a(href=gratuito.sede.url)  #{gratuito.sede.nome}


  hr
  p
    a.btn.btn-warning(href=gratuito.url+'/delete') Elimina Pratica
  p
    a.btn.btn-primary(href=gratuito.url+'/update') Aggiorna Pratica