extends layout

block content
  h1.page_title= title

  div.text-center
    form.ricerca(action='/gratuito' method='GET')
      input(type='text' name='search' placeholder='Ricerca Gratuito ...')
      input(type='submit' value='Cerca')

  table.table
    thead
      tr
        th Fasc.
        th Cliente
        th Mat.
        th Giud.
        th Sede
        th RG
        th Data Istanza
        th Prot. Ist.
        th Amm.
        th Data Amm.
        th Data Liq.
        th Imp. Ist. Liq.
        th Data Decr. Liq.
        th Imp. Decr. Liq.
        th Data Fatt.
        th Fatt. El.
        th Imp. Fatt.
        th Data Pag.
    tbody.gratuito-list
      each gratuito in gratuito_list
        tr
          td
            a(href='/gratuito/' + gratuito._id) #{gratuito.fascicolo}
          td #{gratuito.cliente.cognome + ' ' + gratuito.cliente.nome}
          td #{gratuito.materia.nome.slice(0,3)}
          td #{gratuito.giudice.nome.slice(0,12)}
          td #{gratuito.sede.nome.slice(0,3)}
          td #{gratuito.rg}
          td #{gratuito.data_istanza ? moment(gratuito.data_istanza).format('MM-DD-YYYY') : '-'}
          td #{gratuito.protocollo_istanza}
          if gratuito.ammissione == 'NON AMMESSO'
            td.red #{gratuito.ammissione.slice(0,3)}
          else
            td #{gratuito.ammissione.slice(0,3)}
          td #{gratuito.data_istanza ? moment(gratuito.data_istanza).format('MM-DD-YYYY') : '-'}
          td #{gratuito.data_istanza_liquidazione ? moment(gratuito.data_istanza_liquidazione).format('MM-DD-YYYY') : '-'}
          td #{gratuito.importo_istanza_liquidazione ? currencyFormatter.format(gratuito.importo_istanza_liquidazione, { locale: 'it'}) : '-'}
          td #{gratuito.data_decreto_liquidazione ? moment(gratuito.data_decreto_liquidazione).format('MM-DD-YYYY') : '-'}
          td #{gratuito.importo_decreto_liquidazione ? currencyFormatter.format(gratuito.importo_decreto_liquidazione, { locale: 'it'}) : '-'}
          td #{gratuito.data_fattura ? moment(gratuito.data_fattura).format('MM-DD-YYYY') : '-'}
          td #{gratuito.fattura_elettronica}
          td #{gratuito.importo_fattura ? currencyFormatter.format(gratuito.importo_fattura, { locale: 'it'}) : '-'}
          td #{gratuito.data_pagamento ? moment(gratuito.data_pagamento).format('MM-DD-YYYY') : '-'}


      else
        tr
          td Non ci sono pratiche di gratuito patrocinio.