extends layout

block content

  h1.page_title Materia: #{materia.nome}


  .container
      .row
        .col-md-offset-2.col-md-8.text-center
          br
          a.btn.btn-warning(href=materia.url+'/delete') Rimuovi
          a.btn.btn-primary(href=materia.url+'/update') Aggiorna
          br
          h3.titolo Istanze Gratuito Patrocinio in Materia #{materia.nome}:

          if materia_con_gratuito.length
            table.table.text-left
              thead
                tr
                  th Fascicolo
                  th Nome Richiedente
              tbody
              each pratica in materia_con_gratuito
                tr
                  td
                    a(href=pratica.url) #{pratica.fascicolo}
                  td #{pratica.cliente.nome_completo}

          else
            p Per questa materia non ci sono istanze di gratuito patrocinio in corso.